* {
  box-sizing: border-box;
  font-size: 0.7vw;
}

.boxcenter {
  width: 70%;
  margin: 0 auto;
}
.row {
  float: left;
  width: 100%;
}
.mb {
  margin-bottom: 20px;
}
.mb10 {
  margin-bottom: 10px;
}
.mr {
  margin-right: 2%;
}
.demo {
  background-color: aqua;
  min-height: 100px;
}
.header {
  background-color: #ffffff;
  border: 2px solid #ffc0b9;
  color: #ffc0b9;
  border-radius: 20px;
}
.header h1 {
  font-size: 4vw;
}

.footer {
  background-color: #ffffff;
  border: 2px solid #ffc0b9;
  color: #ffc0b9;
  border-radius: 20px;
}
.footer h1 {
  font-size: 2vw;
  text-align: center;
  padding-left: 16%;
}
/* .header h1{
    margin:10px 20px;
    font-size: 1.2vw;
} */
.menu {
  background-color: #ffc0b9;
  border-radius: 5px;
}
.menu ul {
  padding: 0 15px;
}
.menu ul li {
  list-style: none;
  display: inline;
  padding: 0 15px;
}
.menu ul li a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
.menu ul li a:hover {
  color: rgb(255, 0, 0);
  font-size: 0.8vw;
}
.boxphai {
  float: left;
  width: 24%;
}
.boxtrai {
  float: left;
  width: 74%;
}
.boxtitle {
  color: #000000;
  font-weight: bold;
  padding: 10px;
  background-color: #ffc0b9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px #ccc solid;
}
.boxconter {
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height: 200px;
  padding: 20px;
}
.boxconter2 {
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
  min-height: 200px;
  background-color: #eee;
}
.boxfooter {
  padding: 10px;
  background-color: #eee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px #ccc solid;
}
/* .banner{
    min-height: 300px;
    width: 100%;
    text-align: center;
} */
/* .banner img{
    height: 300px;
} */
.boxsp {
  float: left;
  width: 32%;
  min-height: 250px;
  max-height: 300px;
  border: 1px #333333 solid;
  border-radius: 5px;
  margin-bottom: 20px;
}
.boxsp .img {
  min-height: 190px;
  text-align: center;
}
.img a img {
  max-height: 180px;
  width: 90%;
}
.formtaikhoan {
  line-height: 150%;
}
.formtaikhoan input[type="text"] {
  width: 100%;
  border: 1px #ccc solid;
  padding: 10px;
  border-radius: 5px;
}
.formtaikhoan input[type="password"],
.formtaikhoan input[type="email"],
.frmcontent input[type="text"] {
  width: 100%;
  border: 1px #ccc solid;
  padding: 5px 10px;
  border-radius: 5px;
}
.formtaikhoan input[type="checkbox"] {
  border-radius: 5px;
}
.formtaikhoan input[type="submit"],
.frmcontent input[type="submit"],
.formtaikhoan input[type="reset"],
.frmcontent input[type="reset"],
.frmcontent input[type="button"] {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #ffc0b9;
  border: 1px solid #9000ff;
}
.formtaikhoan input[type="submit"]:hover,
.frmcontent input[type="submit"]:hover,
.frmcontent input[type="reset"]:hover,
.frmcontent input[type="button"]:hover {
  background-color: rgba(255, 72, 0, 0.872);
  border: 1px solid #cfc9d4;
}
.formtaikhoan li a {
  color: #00ffd0;
  text-decoration: underline;
}
.menudoc ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.menudoc ul li {
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 1px #ccc solid;
}
.menudoc ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}
.menudoc ul li:hover {
  background-color: #ffc0b9;
}
.searedbox input[type="text"] {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #eee;
  border-radius: 5px;
}
.top10 img {
  width: 10%;
  height: 50px;
  float: left;
  margin-right: 10px;
}
.top10 a {
  color: #666;
  text-decoration: none;
  font-weight: bold;
}
.top10 a:hover {
  color: #ffc0b9;
  text-decoration: underline;
}

/* 


.headeramin{
    background-color: rgb(153, 158, 156);
    border: 2px solid red;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px 20px;

}
.headeramin h1{
    font-size: 2vw;

} */
.formtile {
  background-color: rgb(87, 92, 90);
  border: 2px solid red;
  color: rgb(255, 0, 0);
  border-radius: 5px;
  padding: 10px 20px;
}

.fordslh table {
  width: 100%;
  border-collapse: collapse;
  border: 1px seagreen solid;
}
.fordslh table th {
  padding: 20px;
  background-color: #a5a5a5;
}
/* .fordslh table th:nth-child(2){
    width: 30%;background-color: #a5a5a5;

}
.fordslh table th:nth-child(3){
    width: 40%;background-color: #a5a5a5;

}
.fordslh table th:nth-child(4){
    width: 20%;background-color: #a5a5a5;

} */
.fordslh table td {
  padding: 10px 20px;
  border: 1px rgb(55, 0, 255) solid;
}
/* banner chạy*/
/* .spct{
    text-align: center;
} */

.thongbao {
  color: red;
}
